<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name= "HRM Application Test Automation Suite">
	
	<listeners>
	<listener class-name="com.HRM.ExtentreportListener.ExtentReportHRM" />
	</listeners>
	
	<test name="HRM Test Cases">
		<classes>
		<class name = "com.HRM.PagesTestCases.LoginPageTest"></class>
		<class name = "com.HRM.PagesTestCases.HomePageTest"></class>
		<class name = "com.HRM.PagesTestCases.MyInfoPageTest"></class>
		
		</classes>	
	</test>
</suite>